@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';
// Fonts
// Variables
@import 'variables';
@import "fonts";
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');


.team-details{
  padding-bottom: 80px; padding-top: 80px; background-color: #f1f3f5;
}
.team-title{
  text-shadow: 0 0 1px; font-family: Rambla; font-weight: bold;
}
.team-desc{
  text-indent: 20px; font-size: 15px;
}
.team-person{
  margin-top: 130px;
}
.team-box{
  background-color: #fff; border-radius: 60px 60px 30px 30px; padding-top: 140px; box-shadow: 0 0 10px 2px #ccc; height: 100%; padding-bottom: 60px
}
.team-box .team-image{
  top: -90px; width: 100%
}
.team-box .team-image .mx-auto{
  border: 10px solid #fff; width: fit-content; border-radius: 50%; box-shadow: 0 0 10px 2px #ccc
}
.team-box small{
  color: #1cc88a;
}
.team-box .team-footer{
  color:#fff;background-color: #1cc88a; border-radius: 0 0 30px 30px; bottom:0; width: 100%
}


.bg-shodow {
  -webkit-box-shadow: 0px 0px 16px 0px rgba(158, 158, 158, 1);
  -moz-box-shadow: 0px 0px 16px 0px rgba(158, 158, 158, 1);
  box-shadow: 0px 0px 16px 0px rgba(158, 158, 158, 1);

}

.pointer {
  cursor: pointer;
}
.our-img{
  border-radius: 50%;
  border: 3px solid #20bce6;
}

.team-img {
  border-radius: 50%;
  filter: grayscale(100%);
  box-shadow: 0 0 10px 5px #ccc;
  border: 2px solid #fff;
}

.team-info:hover .team-img{
  filter: grayscale(0);
}

.team-info i:hover{
  opacity: 1 !important;
}
.team-info:nth-child(1):hover i{
  color: #2b9bb1;
  opacity: 0.7;
}
.team-info:nth-child(2):hover i{
  color: #4aaf73;
  opacity: 0.7;
}
.team-info:nth-child(3):hover i{
  color: #f547d4;
  opacity: 0.7;
}
.team-info:nth-child(4):hover i{
  color: #f5a91f;
  opacity: 0.7;
}

.work-option {
  background-color: #dfe1ff;
}

.work-option:hover {
  background-color: #EB5663;
}

.work-option:hover i {
  color: #eee;
}

.work-option:hover h5 {
  color: #eee;
}

@media (max-width: 992px) {
  header .nav-link:hover {
    border-left: 1px solid #ff6972;
  }
  header .nav-link {
    border-left: 1px solid transparent;
  }
}
@media (max-width: 575.98px) {
  .contactus-item{
    margin-bottom: 830px;
  }
}
@media (min-width: 576px) {
  .contactus-item{
    margin-bottom: 830px;
  }
}
@media (min-width: 768px) {
  .contactus-item{
    margin-bottom: 750px;
  }
}
@media (min-width: 992px) {
  header .nav-link:hover {
    border-bottom: 1px solid #ff6972;
  }
  header .nav-link {
    border-bottom: 1px solid transparent;
  }
  .contactus-item{
    margin-bottom: 400px;
  }
}


.stripes-container {
  position: absolute;
  top: 156px;
  min-height: 50%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 4%);
  grid-template-rows: repeat(5, 10%);
  transform: skewY(-12deg);
}

.stripe:nth-child(1) {
  background-color: rgb(230, 235, 241);
  grid-row: 5 / auto;
  grid-column: 1 / 3;
}

.stripe:nth-child(2) {
  background-color: rgb(67, 69, 139);
  grid-row: 6 / auto;
  grid-column: 1 / 7;
}

.stripe:nth-child(3) {
  background-color: rgb(103, 114, 229);
  grid-row: 7 / auto;
  grid-column: 24 / 26;
}

.stripe:nth-child(4) {
  background-color: rgb(230, 235, 241);
  grid-row: 8 / auto;
  grid-column: 21 / 26;
}

.stripe:nth-child(5) {
  box-shadow: rgb(230, 235, 241) 0px 0px 0px 1.5px inset;
  grid-row: 9 / auto;
  grid-column: 21 / 25;
}


.websitename {
  color: #EB5663;
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
  text-align: right;
}

html * {
  font-family: IRANSans;
}

.width100 {
  width: 100%;

}

.documentsshow {
  background-color: #fff;
  border: solid 1px #eee;
  padding: 25px;
  border-radius: 25px;

}

section .section-title {
  text-align: center;
  color: #007b5e;
  margin-bottom: 50px;
  text-transform: uppercase;
}
